


.tabs {
    margin-top: 1rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.content {
    flex-grow: 1;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.columns.is-centered>.column {
    display: flex;
}

.media-left .image {
    width: 32px; /* Define a largura dos ícones nos cards */
    height: 32px; /* Define a altura dos ícones nos cards */
}
